@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import "zeroing.scss";
@import "main-block.scss";
@import "add-movie.scss";
@import "delete-movie.scss";
@import "edit-movie.scss";

html {
	height: 100%;
}

body {
	background-color: #555555;
	height: 100%;
	line-height: 1;
	font-size: 16px;
	font-family: Montserrat;
}

body.lock {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.wrapper {}

.page {}

._conteiner {
	max-width: 1085px;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}